<div id="frame9">
    <img id="image4" src="../../../../assets/icons/principal-product.svg" alt="Descrição da imagem">
    <div id="frame1484578050">
        <div id="frame1484578045">
            <img id="rectangle1127" src="../../../../assets/icons/profile.svg" alt="Estrela">
            <div class="stars-container-comment">
                <img class="stars-comment" src="../../../../assets/icons/star-full.svg" alt="Estrela">
                <img class="stars-comment" src="../../../../assets/icons/star-full.svg" alt="Estrela">
                <img class="stars-comment" src="../../../../assets/icons/star-full.svg" alt="Estrela">
                <img class="stars-comment" src="../../../../assets/icons/star-full.svg" alt="Estrela">
                <img class="stars-comment" src="../../../../assets/icons/star-full.svg" alt="Estrela">
            </div>
        </div>
        <div id="customerReviewText">“As soon as the Clarifions arrived I put one in my bedroom. This was late in the afternoon. When I went to the bedroom in the evening it smelled clean. When I went to bed I felt I could breathe better. Wonderful.”</div>
        <div id="frame1000004527">
            <div id="customerReviewText" class="kenT">Ken T.</div>
            <div id="verify">
                <div id="verify1">
                    <img id="vectorVerify" src="../../../../assets/icons/verify.svg" alt="Estrela">
                </div>
            </div>
        </div>
    </div>
    <div id="frame14">
        <span id="specialPrice">
            <span id="specialPrice" class="special-phrase">ONE TIME ONLY</span> special price for 6
            extra Clarifion for only <span id="specialPrice" class="special-phrase">$14 each</span> ($84.00
            total!)</span>
        <div class="container">
            <div class="colored-rectangle">
                <img id="image5" class="image" src="../../../../assets/icons/detail-product.svg"
                    alt="Descrição da imagem">
            </div>
            <div class="text-and-frames">
                <div id="frame10">
                    <div id="clarifionAirIonizer">Clarifion Air Ionizer</div>
                    <div class="stars-container">
                        <div class="star">
                            <img src="../../../../assets/icons/star-full.svg" alt="Estrela">
                        </div>
                        <div class="star">
                            <img src="../../../../assets/icons/star-full.svg" alt="Estrela">
                        </div>
                        <div class="star">
                            <img src="../../../../assets/icons/star-full.svg" alt="Estrela">
                        </div>
                        <div class="star">
                            <img src="../../../../assets/icons/star-full.svg" alt="Estrela">
                        </div>
                        <div class="star">
                            <img src="../../../../assets/icons/star-full.svg" alt="Estrela">
                        </div>
                    </div>

                    <div class="frame-193">
                        <div class="stock-info">12 left in Stock</div>
                    </div>

                    <span id="text-and-frames" class="clarifionText">
                        Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with
                        a simple.
                    </span>
                </div>

                <div id="frame11">
                    <div id="price180">$180</div>
                    <div id="price84">$84</div>
                </div>

            </div>

        </div>

        <div id="frame1000004599">
            <!-- Frame 18 -->
            <div id="frame18">
                <div class="tick-circle">
                    <img class="svg-icon" src="../../../../assets/icons/tick-circle.svg" alt="Círculo de seleção">
                </div>
                <div class="selection-text">Negative Ion Technology may help with allergens</div>
            </div>

            <!-- Frame 23 -->
            <div id="frame23">
                <div class="tick-circle">
                    <img class="svg-icon" src="../../../../assets/icons/tick-circle.svg" alt="Círculo de seleção">
                </div>
                <div class="selection-text">Designed for air rejuvenation</div>
            </div>

            <!-- Frame 24 -->
            <div id="frame24">
                <div class="tick-circle">
                    <img class="svg-icon" src="../../../../assets/icons/tick-circle.svg" alt="Círculo de seleção">
                </div>
                <div class="selection-text">Perfect for every room in all types of places.</div>
            </div>
        </div>

        <div id="frame1000004688">
            <div id="frame1000004684">
                <div class="group1000004656">
                    <img src="../../../../assets/icons/percent.svg" alt="Sua descrição aqui" class="svgImage">
                </div>
                <div class="saveText">Save <span class="especial">53%</span> and get <span class="especial">6 extra
                        Clarifision</span> for only <span class="especial">$14 Each.</span></div>
            </div>
        </div>
        <button id="frame1000004690" (click)="claimDiscount()">
            <div id="frame136">
                <div id="claimDiscount">Yes - Claim my discount</div>
                <img class="line-svg" src="../../../../assets/icons/Line1.svg" alt="Descrição da imagem">
            </div>
        </button>

        <div id="frame1000004691">
            <div id="freeShipping">Free shipping</div>
            <div id="secureEncryption">
                <div id="lockIcon" class="svg-container">
                    <div class="svg-overlay"></div>
                    <img src="../../../../assets/icons/lockicon.svg" alt="Lock Icon">
                </div>
                <div id="secureText">Secure 256-bit SSL encryption.</div>
            </div>
            <div id="paymentMethods">
                <div id="visaIcon" class="svg-container">
                    <div class="svg-overlay"></div>
                    <img src="../../../../assets/icons/visa.svg" alt="Visa Icon">
                    <img src="../../../../assets/icons/Group8.svg" alt="Visa Icon">
                    <img src="../../../../assets/icons/Group13.svg" alt="Visa Icon">
                    <img src="../../../../assets/icons/mastercard.svg" alt="Visa Icon">
                    <img src="../../../../assets/icons/Group10.svg" alt="Visa Icon">
                    <img src="../../../../assets/icons/applepay.svg" alt="Visa Icon">
                    <img src="../../../../assets/icons/Group11.svg" alt="Visa Icon">
                </div>
            </div>

        </div>
        <div class="noThanks">
            <button class="noThanksButton">thanks, I don’t want this.</button>
        </div>
        <div class="frame1484578044">
            <img class="image6" src="../../../../assets/icons/satifaction.svg" alt="Descrição da imagem">
            <!-- Substitua 'caminho/para/sua/imagem.svg' pelo caminho real do seu arquivo SVG -->
            <div class="textoFrame1484578044">If you are not completely thrilled with your Clarifion - We have a 30 day
                satisfaction guarantee. Please refer to our return policy at the bottom of the page for more details.
                Happy Shopping!</div>
        </div>

    </div>
</div>