<div class="step-container">
    <div class="step step1">
      <img src="../../../../assets/icons/status-ok.svg" alt="Icon for Step 1">
      <span class="step-label">Step 1: Cart Review</span>
    </div>
    <div class="step step2">
      <img src="../../../../assets/icons/status-ok.svg" alt="Icon for Step 2">
      <span class="step-label">Step 2: Checkout</span>
    </div>
    <div class="step step3">
      <img src="../../../../assets/icons/status-act.svg" alt="Icon for Step 3">
      <span class="step-label">Step 3: Special Offer</span>
    </div>
    <div class="step step4">
      <img src="../../../../assets/icons/status-free.svg" alt="Icon for Step 4">
      <span class="step-label">Step 4: Confirmation</span>
    </div>
  </div>