/* General styles for the step container */
.step-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Ajuste conforme necessário */
    top: 260px; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o container */
    position: absolute;
    width: 100%;
  }
    
  /* Styles for each step */
  .step {
    display: flex;
    align-items: center;
    gap: 5px; /* Ajuste conforme necessário */
    height: 40px; /* Ajuste conforme necessário */
    background: none;
    border: 2px solid transparent;
  }
    
  /* Styles for Step 1, Step 2, Step 3, and Step 4 */
  .step img {
    width: 24px; /* Ajuste conforme necessário */
    height: 24px; /* Ajuste conforme necessário */
  }
  
  /* Common styles for step label */
  .step-label {
    font-family: 'Manrope';
    font-size: 16px; /* Ajuste conforme necessário */
    line-height: 100%; /* Ajuste conforme necessário */
    white-space: nowrap; /* Impede a quebra de linha */
    color: #000000; /* Cor do texto (preto) */
  }