<div class="usps-container">
  <div class="vector element-1 mx-auto"></div>
  <div class="element-1 mx-auto"></div>
  <div class="element-1-text mx-auto">30-DAY SATISFACTION GUARANTEE</div>

  <div class="vector element-2 mx-auto"></div>
  <div class="element-2 mx-auto"></div>
  <div class="element-2-text mx-auto">Free delivery on orders over $40.00</div>

  <div class="vector element-3 mx-auto"></div>
  <div class="element-3 mx-auto"></div>
  <div class="element-3-text mx-auto">50,000+ HAPPY CUSTOMERS</div>

  <div class="vector element-4 mx-auto"></div>
  <div class="element-4 mx-auto"></div>
  <div class="element-4-text mx-auto">100% Money Back Guarantee</div>
</div>
