<div class="usps-container">
    <!-- <div class="vector element-1 mx-auto"></div> -->
    <img src="../../../../assets/icons/vec1-nav.svg" class="lockIcon" alt="Ok">
    <div class="element-1-text">30-DAY SATISFACTION GUARANTEE</div>

    <img src="../../../../assets/icons/vec2-nav.svg" class="lockIcon" alt="Ok">
    <div class="element-2-text">Free delivery on orders over $40.00</div>

    <img src="../../../../assets/icons/vec3-nav.svg" class="lockIcon" alt="Ok">
    <div class="element-3-text">50,000+ HAPPY CUSTOMERS</div>

    <img src="../../../../assets/icons/vec4-nav.svg" class="lockIcon" alt="Ok">
    <div class="element-4-text">100% Money Back Guarantee</div>
</div>
